{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Register here!</h1>


    {{ form_start(form) }}
        {{ form_row(form.userName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}
