body {
    background-color: #F5F5F5;
}

.wrapper {
    background-color: #FFFFFF;
    margin: 1em auto;
    padding: 1em;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.wrapper.product_list .product img {
    width: 100%;
}

.product_info .product_image img {
    width: 100%;
}