{% extends 'base.html.twig' %}

{% block title %}Product list!{% endblock %}

{% block body %}

<div class="wrapper product_list">
    <h1>Products</h1>

    <div class="row">
    {% for product in products %}
        <div class="product col-md-3 col-lg-3 col-xl-3">
            <a href="/product/info/{{product.id}}">
                <div class="product_image">
                    <img src="{{  asset('uploads/product_images/' ~ product.image) }}" >
                </div>
                <div class="product_name">
                    {{product.name}}
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
