{% extends 'base.html.twig' %}

{% block title %}product.name{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{product.name}}</h1>
        <div class="product_info row">
            <div class="product_image  col-md-6 col-lg-6 col-xl-6">
                <img src=" {{ asset('uploads/product_images/' ~ product.image) }}" >
            </div>
            <div class="info col-md-6 col-lg-6 col-xl-6">
                <div class="product_name">
                    {{product.name}}
                </div>
                <div class="product_price">
                    {{product.price}}
                </div>
                <div class="product_description">
                    {{product.description}}
                </div>
                <div class="add-to-cart">
                    <a href="{{ path('add_product_to_cart', {'product_id': product.id}) }}">Kosárba</a>
                </div>
            </div>
        </div>
</div>
{% endblock %}
