{% set current_path = app.request.get('_route') %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item{% if current_path == "admin_order" %} active {% endif %}">
                <a class="nav-link" href="/admin/order">Orders</a>
            </li>
            <li class="nav-item{% if current_path == "admin_product" %} active {% endif %}">
                <a class="nav-link" href="/admin/product">Products</a>
            </li>
            <li class="nav-item{% if current_path == "admin_category" %} active {% endif %}">
                <a class="nav-link" href="/admin/category">Categories</a>
            </li>
            <li class="nav-item{% if current_path == "admin_user" %} active {% endif %}">
                <a class="nav-link" href="/admin/user">Users</a>
            </li>
            <li class="nav-item{% if current_path == "admin_user" %} active {% endif %}">
                <a class="nav-link" href="/admin/sale">Users</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
