{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div class="cart container">
        {% for order_product in cart_order.orderProducts %}
            <div class="name">{{ order_product.OrderProductName }}</div>
            <div class="price">{{ order_product.OrderProductPrice }}</div>
        {% endfor %}
    </div>
    <div class="checkout">
        <a href="{{ path('checkout_shipping') }}">Megrendelem</a>
    </div>
</div>
{% endblock %}
