{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Checkout order ✅</h1>

    <div class="checkout_order">
        Order nr: {{ order_nr }}
    </div>
</div>
{% endblock %}
