{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>Select shipping type ✅</h1>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

</div>
{% endblock %}
